<a class="flex items-center mr-8" href="#">
    <img class="h-10" src="/assets/images/Massahaty.png" alt="Massahaty Logo">
</a>

<a pButton [text]="true" severity="secondary" pRipple class="lg:!hidden" pStyleClass="@next" enterClass="hidden"
    leaveToClass="hidden" [hideOnOutsideClick]="true">
    <i class="pi pi-bars !text-2xl"></i>
</a>

<div
    class="navbar items-center bg-surface-0 dark:bg-surface-900 grow justify-between hidden lg:flex absolute lg:static w-full left-0 top-full px-12 lg:px-0 z-20 rounded-border">
    <ul class="list-none p-0 m-0 flex lg:items-center select-none flex-col lg:flex-row cursor-pointer gap-8">
        <li>
            <a (click)="router.navigate(['/landing'], { fragment: 'home' })" pRipple class="px-0 py-4">
                <span>Home</span>
            </a>
        </li>
        <li>
            <a (click)="router.navigate(['/landing'], { fragment: 'features' })" pRipple class="px-0 py-4">
                <span>Features</span>
            </a>
        </li>
        <li>
            <a (click)="router.navigate(['/landing'], { fragment: 'highlights' })" pRipple class="px-0 py-4">
                <span>Highlights</span>
            </a>
        </li>
        <li>
            <a (click)="router.navigate(['/landing'], { fragment: 'pricing' })" pRipple class="px-0 py-4">
                <span>Pricing</span>
            </a>
        </li>
    </ul>
    <div class="flex items-center border-t lg:border-t-0 border-surface py-4 lg:py-0 mt-4 lg:mt-0 gap-5">
        <div class="layout-topbar-action">
            <i class="pi pi-globe"></i>
            <select (change)="changeLanguage($event.target)" [(ngModel)]="storage.lang">
                <option *ngFor="let lang of translate.getLangs()" [value]="lang">
                    {{ lang.toUpperCase() }}
                </option>
            </select>
        </div>

        <div class="border h-5 border-slate-200 dark:border-slate-700"></div>

        <button type="button" class="layout-topbar-action" (click)="toggleDarkMode()">
            <i
                [ngClass]="{ 'pi ': true, 'pi-moon': layoutService.isDarkTheme(), 'pi-sun': !layoutService.isDarkTheme() }"></i>
        </button>

        <button pButton pRipple routerLink="/auth/login">
            {{ 'navigation.login' | translate }}
            <i class="pi pi-chevron-right"></i>
        </button>
    </div>
</div>